@{
    ViewData["Title"] = "Home Page";
}
@model IndexViewModel

<div class="text-center">
    <table class="table tab-content">
        <thead>            
            <tr>
                <th>#</th>
                <th>Autor</th>
                <th>Tytuł</th>
                <th>Liczba stron</th>
                <th>Czy wypożyczona</th>
                <th>Nazwisko wypożyczającego</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.BookList)
            {
            <tr>
                <th>@book.Id</th>
                <td>@book.Author</td>
                <td>@book.Title</td>
                <td>@book.PageCount</td>
                <td>@(book.IsBorrowed ? "Tak" : "Nie")</td>
                <td>@($"{book.Borrower?.FirstName} {book.Borrower?.LastName}")</td>
            </tr>
            }
        </tbody>
    </table>

</div>

